# Logs and databases #
######################
/data
*.log
*.json
*.csv

/lda_model
/EDA

# pycashe #
__pycache__/
.ipynb_checkpoints
*.pyc
*.pyc

# pickle #
*.pickle
*.model

# testfile #
*.txt
*.pdf
*.doc
*.docx
