<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://0.0.0.0:8080/#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://0.0.0.0:8080/home#">Home</a></li>
        <li class="active"><a href="https://github.com/zishuijingw/ResumeClassifier">Github</a></li>
        <li class="active"><a href="#">Q&A</a></li>
      </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Actors & Actresses Recommendations</h1>
    <p>Resize this responsive page to see the effect!</p> 
</div>

  <!-- Main -->
  <div class="container">
    <h2>Recommendations Method</h2>
    <p>The form below contains three different recommendations method</p>

      <div class= "buttons center">
          <form action='/resume', method='POST'>
            <button type="submit" class="btn btn-lg btn-block" style= "width: 32vw;">Get Recommendations Based on Resume!</button>
          </form>
          <br>

          </br>
          <form action='/script', method='POST'>
            <button type="button" class="btn btn-lg btn-block" style= "width: 32vw;">Get Recommendations Based on the Script!</button>
          </form>
          <br>

          </br>
          <form action='/image', method='POST'>
            <button type="button" class="btn btn-lg btn-block" style= "width: 32vw;">Get Recommendations Based on the Image or Demo!</button>
          </form>
      </div>

  </div>


</body>

</html>
