<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="http://0.0.0.0:8080/#">WebSiteName</a>
          <a class="navbar-brand" href="http://0.0.0.0:8080/home#">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://0.0.0.0:8080/home#">Go Back</a></li>
        <li class="active"><a href="https://github.com/LuWang0211/ResumeClassifier">Github</a></li>
      </ul>
    </div>
</nav>

  <body>
    <div class="jumbotron text-center">
        <h2>Based on the type of movies candidate has participated in</h2> 
    </div>

    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <li>Step 1: Type a Resume Information or Upload a Resume</li>
        <li>Step 2: Submit Resume</li>
        <li>Step 3: Get Recommendations</li>
      </div>
    </nav>

    <div class="container">
        <h3>Resume Information</h3>
        <label for="Resume">Resume(upload method 1):</label>
        <p>the form below contains a textarea for typing a Resume Information</p>
        <p>{{reminder}}</p>
        <form action='/multilabel_recommendations', method='POST'>
          <textarea class="form-control" rows="5" name="user_input_test" id="user_input_test">
          Please input more than 250 words
          </textarea>
          <p></p>
          <button type="submit" class="btn btn-lg btn-block" style= "width: 32vw;">Submit</button>
        </form>

        <label for="Resume">Resume(upload method 2):</label>
        <p>choose file from computer, upload a Resume</p>
        <form>
            <div class="row">
                <div class="col-sm-10">
                  <span class="control-fileupload">
                    <input type="file" id="fileupload">
                  </span>
                </div>
                <div class="col-sm-2">  
                  <button type="button" class="btn btn-block">
                    <i class="icon-upload icon-white"></i> Upload
                  </button>
                </div>
              </div>
        </form>
        <form >
          
        </form>

    </div>

    <div class="container">
        <form action='/multilabel_recommendations', method='POST'>
          <button type="submit" class="btn btn-lg btn-block" style= "width: 32vw;">Submit</button>
        </form>
    </div>


  </body>

</html>
