<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
  
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://0.0.0.0:8080/home#">Home</a></li>
        <li class="active"><a href="http://0.0.0.0:8080/multilabel#">Go back</a></li>
        <li class="active"><a href="https://github.com/LuWang0211/ResumeClassifier">Github</a></li>
        <li class="active"><a href="#">Q&A</a></li>
      </ul>
    </div>
</nav>

  <body>

    <div class="jumbotron text-center">
        <h1>Actors & Actresses Recommendations</h1>
    </div>

    <div class="container">
        <h2>Recommendations Result</h2>
        <p>Based on the type of movies candidate has participated in, the following are the performance areas that candidates may be in</p><br>
        
        <div class="media">
          <!-- <div class="media-left">
            <img src="img_avatar1.png" class="media-object" style="width:60px">
          </div> -->
          <div class="media-body">
            <h4 class="media-heading">Candidate name</h4>
            <tr>{{errors}}</tr>
            <tr>{{results}}</tr>
          </div>
          <hr>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>Labals</th>
                  <th>yes(1) or no(0)</th>
                </tr>
              </thead>
              <tbody>
                {% for key in predictions %}
                  <tr>
                    <td>{{key}}</td>
                    <td>{{predictions[key]}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

        </div>
        

  </body>

</html>
